<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timepunch</title>
    <link rel="stylesheet" href="~/css/common.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p class="center"><small><em>Thank you for punching time~~</em></small></p>
    </footer>
    <script src="~/js/common.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
