@page
@model CreateAccountModel

@{
    ViewData["Title"] = "Create Account";
}

@*Partial View, the rest of the page should come from _Layout.cshtml*@
<div class="header center">
    <h1>Timepunch: Create Account</h1>
</div>
<div class="userForm">
    <div class="center">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <em>All fields are required:</em><br/>
            Name: <input asp-for="newUserData.Name"/><br/>
            Email: <input asp-for="newUserData.Email"/><br/>
            Password: <input asp-for="newUserData.Password"/><br/>
            Confirm Password: <input asp-for="newUserData.ConfirmPassword"/><br/>
            <small>Password must be a minimum of 6 characters.</small><br/>
            <input type="submit" value="Create Account" />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>