@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}
@* http://www.future-shock.net/blog/post/Creating-a-simple-login-in-ASP.NET-Core-2-using-Authentication-and-Authorization-NOT-Identity *@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*Partial View, the rest of the page should come from _Layout.cshtml*@
<div class="content">
    <div class="header">
        <h1>Project time-clock login</h1>
        Time-Punch Login
        <br>
        <br>
    </div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        Email: <input asp-for="loginData.Email"/><br/>
        Password: <input asp-for="loginData.Password"/><br/>
        <input type="submit" value="Login" />
        @Html.AntiForgeryToken()
    </form>
</div>
