@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}
@* http://www.future-shock.net/blog/post/Creating-a-simple-login-in-ASP.NET-Core-2-using-Authentication-and-Authorization-NOT-Identity *@

@*Partial View, the rest of the page should come from _Layout.cshtml*@
<div class="header center">
    <h1>Timepunch: Login</h1>
    Please log in with your email and password.
    <br>
</div>
<div class="userForm">
    <div class="center">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            Email: <input asp-for="loginData.Email"/><br/>
            Password: <input asp-for="loginData.Password"/><br/>
            <div class="center">
                <input type="submit" value="Login" />
            </div>
            @Html.AntiForgeryToken()
        </form>
        <br/>
        <a asp-page="/CreateAccount"><small>Need to create an account?</small></a>
    </div>
</div>
