@page
@model LoginModel

@{
    ViewData["Title"] = "Login Page";
}

<div class="content">
    <div class="header">
        <h1>Project time-clock login</h1>
        Time-Punch Login
        <br>
        <br>
    </div>
    <form onsubmit="" action="" method="post">
        <table align="center">
            <tr>
                <td>User Email</td>
                <td>
                    <input type="text" name="username" autofocus>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input id="password" type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit">
                </td>
                <td>
                    <a href="/CreateAccount">Create Account</a>
                </td>
            </tr>
        </table>
    </form>
</div>